/* Import */
@font-face {
  font-family: 'Panchang';
  src: url('/Fuentes/Panchang_Complete/Fonts/TTF/Panchang-Variable.ttf');
}

/* Reset */
html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* Variables */
:root {
  --title-font: 'Panchang';
  --primary-color: #FFB100;
  --white: #ffffff;
  --form-letter: rgba();
  --form-placeholder-letter: rgba(256,256,256,0.5);
  --background-form: rgba(256,256,256,0.4);
  --black: #000000;
  --text-active-header: #D3D3D3;
}

/* Header */
.header {
  background-image: url(/img/header-footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90px;
  width: 100dvw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.logo-md {
  height: 90px;
}

@media(max-width: 575px) {
  .logo-small{
    height: 60px;
  }
}

@media(max-width: 375px){
  .logo-small {
    height: 50px;
  }
}

/* Navbar */
#navbarNav {
  margin-top: 0px;
}

@media(max-width: 1199px){
  #navbarNav {
    width: 35%;
    left: 58%;
    height: 145px;
    margin-top: 89px;
    background-image: none;
    background-color: var(--black);
    margin-bottom: 0;
  }
}

@media(max-width: 767px){
  #navbarNav {
    width: 100%;
    left: 0;
  }
}

li {
  list-style: none;
}

.nav-text-header, .nav-text-header:visited {
  font-family: var(--title-font);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color);
}

.nav-text-header:hover {
  color: var(--white);
}

.nav-text-header:active {
  color: var(--text-active-header);
}

.ham-width {
  width: 25px;
  padding: 0;
  margin-right: 2rem;
}

/* Body */
.background {
  background-image: url(/img/Fondo.png);
  background-size: cover;
  min-height:100vh;
  min-width: 100vw;
  background-repeat: no-repeat;
  overflow-x: hidden;
  top: 0;
  margin-top: 90px;
}

@media(max-width: 1400px) {
  .background {
    height: 125rem;
    min-width: 100vw;
    justify-content: end;
    align-items: center;
    background-position: center;
  }
}

section {
  max-height: 100vh;
  position: relative;
}

.big-logo {
  position: relative;
  align-items: center;
  height: 75dvh;
  padding: 0;
}

.container-content {
  position: relative;
  align-items: center;
  height: 75dvh;
  padding: 0;
}

h4, h3, h2 {
  font-family: var(--title-font);
  color: var(--primary-color);
}

.big-logo::before {
  content: "";
  background-image: url(/img/LOGO\ PATO.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.big-logo p {
  position: relative;
  font-family: var(--title-font);
}

/* Texto pagina index */
.text-introduction {
  font-size: 1.4rem;
}

@media (max-width: 745px) {
  .text-introduction {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .text-introduction {
    font-size: 0.90rem;
  }
}

@media (max-width: 300px) {
  .text-introduction {
    font-size: 0.7rem;
  }
}

/* Pagina catalogo */
.image-size {
  height: 400px;
}

@media(max-width:1610px){
  .image-size {
    height: 350px;
}
}

@media(max-width:1200px){
  .image-size {
    height: 330px;
  }
}

/* Imagenes Polos */
.imagen-polo-cube {
  height: 250px;
  width: 350px;
}

@media (max-width: 1399px) {
  .imagen-polo-cube {
    height: 250px;
    width: 350px;
  }
}

.imagen-polo-tall {
  height: 500px;
}

@media (max-width: 1399px) {
  .imagen-polo-tall {
    height: 250px;
    width: 350px;
    object-fit: cover;
  }
}

section div img:hover {
  transform: scale(1.04);
  transition: 0.3s;
}

/* Pagina promociones */
.background-promo {
  background-image: url(/img/Fondo.png);
  background-size: cover;
  min-width: 100vw;
  background-repeat: no-repeat;
  overflow-x: hidden;
  top: 0;
  margin-top: 90px;
}

@media(max-width: 1400px) {
  .background-promo {
    height: 70rem;
    min-width: 100vw;
    justify-content: end;
    align-items: center;
    overflow: auto;
  }
}

.img-marcas {
  max-width: 609px;
}

@media (max-width: 600px) {
  .img-marcas {
    max-width: 500px;
  }
}

@media (max-width: 400px) {
  .img-marcas {
    max-width: 300px;
  }
}

/* Imagen modelo */
.model-promo-big {
  mask-image: linear-gradient(rgb(0,0,0) 60%, transparent);
  margin-top: 3rem;
  bottom: 0;
}

.model-promo {
  mask-image: linear-gradient(rgb(0,0,0) 60%, transparent);
  max-height: 610px;
  bottom: 0;
}

@media (max-width: 400px) {
  .model-promo {
    mask-image: linear-gradient(rgb(0,0,0) 60%, transparent);
    max-height: 300px;
    bottom: 0;
  }
}

/* Pagina contactanos */
/* Form */
.container-form {
  margin-top: 140px;
  margin-bottom: 140px;
}

.form-label-badduck {
  font-family: var(--title-font);
  color: var(--primary-color);
  font-weight: 500;
}

.input-badduck {
  font-family: var(--title-font);
  color: var(--white);
  background-color: var(--background-form);
}

.input-badduck::placeholder {
  font-family: var(--title-font);
  color: var(--form-placeholder-letter);
}

.input-badduck:focus{
  background-color: var(--black);
  color: var(--white);
}

.input-badduck:active {
  font-family: var(--title-font);
  color: var(--white);
  background-color: var(--black);
}

.textarea-badduck {
  border-radius: 15px;
  height: 150px;
}

.button-badduck {
  background-color: var(--primary-color);
  font-family: var(--title-font);
  color: var(--white);
  border-radius: 20px;
  font-weight: 500;
  font-size: 1.3rem;
  width: 200px;
  height: 40px;
  border: 0px;
}

/* Form Errors */
.error {
  color: rgba(237, 8, 8, 0.8);
}

/* Form Success */
.success {
  top: 16rem;
  left: 27rem;
  position: absolute;
  color: var(--white);
  font-family: 'Panchang';
  max-width: 50rem;
}

.success h1 {
  font-size: 5rem;
  font-weight: 700;
}

/* Footer */
.footer {
  background-image: url(/img/header-footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90px;
  min-width: 100dvw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
}

.whatsapp {
  width: 35px;
  object-fit: cover;
  object-position: -0.5%;
}

.facebook {
  width: 35px;
  object-fit: cover;
  object-position: 25%;
}

.instagram {
  width: 35px;
  object-fit: cover;
}

.x {
  width: 35px;
  object-fit: cover;
  object-position: 75%;
}

.tiktok {
  width: 35px;
  object-fit: cover;
  object-position: 100%;
}